.label-controll
    .label-controll__caption Высота
    .label-controll__body
        .label-controll__content

            .custom-range
                .input-suffix.custom-input#distance
                    input.value(
                        type="text"
                        data-calc-property="quiz-height"
                        value="8"
                    )
                    span.input-suffix__delimiter
                    span.input-suffix__units метров

                .custom-range__controller
                    span.status-bar
                    spna.slider
                    input.custom-range__slide(
                        type="range"
                        step="1"
                        min="1"
                        max="30"
                        value="8"
                        data-calc-property="quiz-height"
                    )